<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.forbes.dal.mapper.RequirementMapper">
    <resultMap id="BaseResultMap" type="org.forbes.dal.entity.Requirement">
        <!-- id -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <!-- 创建人 -->
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <!-- 修改人 -->
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <!-- 修改时间 -->
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <!-- 需求名称 -->
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <!-- 最低薪水 -->
        <result column="min_salary" property="minSalary" jdbcType="DECIMAL"/>
        <!-- 最高薪水 -->
        <result column="max_salary" property="maxSalary" jdbcType="DECIMAL"/>
        <!-- 任务类型(0佣金任务1周期任务2包月任务) -->
        <result column="task_type" property="taskType" jdbcType="VARCHAR"/>
        <!-- 项目周期（xx个月） -->
        <result column="cycle_time" property="cycleTime" jdbcType="INTEGER"/>
        <!-- 项目要求,描述 -->
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <!-- 审核状态（0未通过1通过(初期默认通过)2待审核） -->
        <result column="check_state" property="checkState" jdbcType="VARCHAR"/>
        <!-- 是否议价（0不可议价1可议价） -->
        <result column="is_premium" property="isPremium" jdbcType="VARCHAR"/>
        <!-- 竞标人数 -->
        <result column="amount" property="amount" jdbcType="INTEGER"/>
        <!-- 是否外派 -->
        <result column="is_assignment" property="isAssignment" jdbcType="VARCHAR"/>
        <!-- 任务图标 -->
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <!-- 服务方(0:不限制,1:个人,2:团队) -->
        <result column="party_B" property="partyB" jdbcType="VARCHAR"/>
        <!-- 所属用户id -->
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <!-- vocation_type_id -->
        <result column="vocation_type_id" property="vocationTypeId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_by, create_time, update_time, update_by, name, min_salary, max_salary, task_type,
    cycle_time, description, check_state, is_premium, amount, is_assignment, icon, party_B, user_id, vocation_type_id
  </sql>

    <select id="reqPage" resultType="org.forbes.comm.vo.RequirementVo">
        SELECT
        r.id,
        r.create_by,
        r.create_time,
        r.update_time,
        r.update_by,
        r.name,
        r.min_salary,
        r.max_salary,
        r.task_type,
        r.cycle_time,
        r.description,
        r.check_state,
        r.is_premium,
        r.amount,
        r.is_assignment,
        r.icon,
        r.party_B,
        r.user_id,
        v.vocation_name
        FROM f_requirement r JOIN f_vocation_type v ON r.id = v.requirement_id
        <where>
            <if test="pageDto.name != null and pageDto.name !='' and pageDto.name != 'null'">
                AND r.name LIKE concat('%',#{pageDto.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="pageDto.minSalary != null">
                AND r.min_salary &gt; #{pageDto.minSalary,jdbcType=DECIMAL}
            </if>
            <if test="pageDto.maxSalary != null">
                AND r.max_salary &lt; #{pageDto.maxSalary,jdbcType=DECIMAL}
            </if>
            <if test="pageDto.taskType != null and pageDto.taskType !='' and pageDto.taskType != 'null'">
                AND r.task_type = #{pageDto.taskType,jdbcType=VARCHAR}
            </if>
            <if test="pageDto.vocationName != null and pageDto.vocationName !='' and pageDto.vocationName != 'null'">
                AND v.vocation_name = #{pageDto.vocationName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>